.imageContainer {
  position: relative;
}
.image {
  width: 10rem;
  height: 15rem;
  border-radius: 6px;
}

.imageContainerBigger {
  position: relative;
}
.imageBigger {
  position: relative;
  height: 25rem;
  width: auto;
  border-radius: 6px;
}

.image:link,
.image:visited,
.imageBigger:link,
.imageBigger:visited {
  transition: all 0.3s;
}

.image:hover,
.image:active,
.imageBigger:hover,
.imageBigger:visited {
  filter: contrast(50%);
}
.info {
  margin: 2px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1rem;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logos {
  width: 2rem;
  height: auto;
}

.star {
  height: 1.4rem;
  fill: orange;
}

.title {
  margin: 4px 3px 2px 3px;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  overflow: hidden;
  height: 2rem;
}

.operationBtn {
  position: absolute;
  width: 2rem;
  right: 0px;
  top: -1px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
}

.bookMark {
  fill: var(--star-orange);
  color: var(--star-orange);
}

.bookMark:link,
.bookMark:visited {
  transition: all 0.3;
}

.bookMark:hover,
.bookMark:active {
  fill: var(--star-orange-darker);
  color: var(--star-orange-darker);
}

.deleteBtn {
  position: absolute;
  width: 2rem;
  right: 1.2rem;
  top: -1rem;
  border: none;
  background-color: transparent;
  z-index: 999;
}

.delete {
  fill: var(--btn-delete);
}

.delete:link,
.delete:visited {
  transition: all 0.3;
}

.delete:hover,
.delete:active {
  fill: var(--btn-delete-hover);
}
