.outerContainer {
  position: relative;
  height: 30rem;
  z-index: 1;
}

.container {
  width: 110rem;
  position: relative;
  z-index: 3;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  display: flex;
  gap: 2rem;
}

.info {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3.2rem;
}

.details {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logos {
  height: 2rem;
  width: auto;
}

.ratings span {
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2px;
}

.star {
  height: 1.4rem;
  fill: orange;
}
